body {
    background-color: #FFFFFF;
    text-align: center;
}

/* Search-Bar-Styling */
.main-form {
    background-color: #EEEEEE;
    margin: 0% 5.25%;
}

/* Table-Styling*/
table {
    width: 90%;
    margin: 0.125% 5% 1.25% 5%;
}

.column-one {
    background-color: #7EE5DA;
    width: 37%; 
}

.column-two {
    background-color: #70CCC2;
}

.column-three {
    background-color: #62B3AA;
}

.fs-13 {
    font-size: 13px;
}

