body {
    text-align: center;
    font-family: arial,sans-serif;
    overflow: hidden;
}

/*** Header-Styling ***/
.header {
    list-style-type: none;
    padding: 0;
    margin: 0; 
    position: absolute;
    top: 13px;
    height: 40px;
    width: 100%; 
    min-width: 980px;
    right: 7px;
  }

  .headerli {
    float: left;
  }

  .headerli a {
    display: inline-block;
    padding: 10px;
    color: #000;
    opacity: 0.75;
    text-decoration: none; 
    font-size: 13px; 
    white-space: nowrap;
  }

  .headerli a:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .pic {
    border-radius: 50%;
    margin-top: -10px;
    overflow: clip;
  }

  .pic:hover {
    box-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5), 0px 0px 2px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, .2);
  }

  .appsbutton {
    margin: 10px 5px 5px 5px;
    padding-left: 13px;
    padding-right: 13px;
    cursor: pointer;
    background-position-x: -132px;
    background-position-y: -38px;
    opacity: .55;
  }
 
  .appsbutton:hover {
    opacity: .80;
}

/*** Googlelogo-Styling ***/

.googlelogo {
    margin-top: 47px;
  }

  .logo {
    height: 92px;
    width: 272px;
    padding-top: 109px; 
}

/*** Searchbar-Styling ***/

.search-area {
    display: block;
  }

  .search {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    display: flex;
    padding: 5px 8px 0 14px;
    color: #222;
    font-size: small;
    width: 560px;
    height: 39px;
    vertical-align: center;
    margin:auto;
    margin-top: 22.5px;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 30px;
    box-shadow: none;
    z-index: 3;
  }

  .search:hover {
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
    }

  .search-img {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
  }
  
  .search-img span {
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    margin-top: 0px;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
  }

  .voicelogo {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 8px;
    margin-top: 5px;
    
  }
  
  .input-enter {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    
  }
  
  .input-area {
    color: transparent;
    flex: 100%;
    white-space: pre;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
    display: flex;
    height: 39px;
    width: 460px;
  }
  
  .input {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
    width: 487px !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: textfield;
    cursor: text;
    border: none;
}

/*** Button Styling ***/

.googlesearch {
    font-size: 14px;
    line-height: 27px;
    color: #5F6368;
    cursor: pointer;
    margin: 11px 4px;
    padding: 0 16px;  
    min-width: 54px;  
    height: 36px; 
    user-select: none;
    border-width: 1px;
    border-color: rgb(242, 242, 242);
    border-radius: 4px;
    border-style: solid;
    
  }

  .feelinglucky {
    font-size: 14px;
    line-height: 27px;
    color: #5F6368;
    cursor: pointer;
    margin: 11px 4px;
    padding: 0 16px;
    min-width: 54px;  
    height: 36px; 
    user-select: none;
    border-width: 1px;
    border-color: rgb(242, 242, 242);
    border-radius: 4px;
    border-style: solid;
  }

  .googlesearch:hover{
    background-color: #f2f2f2;
    border-width: 1px;
    color: #222;
    border-style: solid;
    border-color: rgb(198, 198, 198);
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  }

  .feelinglucky:hover{
    background-color: #f2f2f2;
    border-width: 1px;
    color: #222;
    border-style: solid;
    border-color: rgb(198, 198, 198);
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}
    
/*** Footer Styling ***/

.footer {
    background-color: #f2f2f2;
    list-style-type: none;
    position: fixed;
    height: 40px;
    width: 100%; 
    margin: 0;
    padding: 0;
    margin-left: -8px;
    line-height: 40px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(228, 228, 228);  
    min-width: 980px;
    bottom: 0;   
  }

  .footerli {
    float: left;
  }

  .footerli a {
    display: inline-block;
    color: #5f6368;
    text-decoration: none;
    white-space: nowrap;
    padding-left: 27px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 14px;    
  }

  .footerli a:hover {
    cursor: pointer;
    text-decoration: underline;
}